.btn.btn-link, .navbar .navbar-nav > a.btn.btn-link {
    color: #888;
}
.btn-link {
    border: 0;
    padding: 0.5rem 0.7rem;
    background-color: transparent;
}
.fa-2x {
    font-size: 1.5em;
}
.text-center p{
    font-size: 0.9rem;
}
footer{
    margin-bottom: 80px;
}