<div class="section" id="contact">
  <div class="cc-contact-information">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1"
        d="M0,224L26.7,234.7C53.3,245,107,267,160,250.7C213.3,235,267,181,320,138.7C373.3,96,427,64,480,74.7C533.3,85,587,139,640,181.3C693.3,224,747,256,800,224C853.3,192,907,96,960,96C1013.3,96,1067,192,1120,240C1173.3,288,1227,288,1280,266.7C1333.3,245,1387,203,1413,181.3L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z">
      </path>
    </svg>
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card-body">
                    <div style="padding-top: 10px;">
                      <strong class="p">Feel free to contact me </strong>

                      <div class="col-md-12">
                        <div class="card-body">
                          <p class="mb-0 mt-3">
                            <strong>Phone</strong>
                          </p>
                          <p class="pb-2">+91 7058630781</p>
                          <p class="mb-0">
                            <strong>Email</strong>
                          </p>
                          <p>rajshreekhadgi123@gmail.com</p>
                        </div>


                        <div class="section">
                          <div class="container">
                            <div class="button-container">
                              <a class="btn btn-default btn-round btn-lg btn-icon"
                                href="https://www.linkedin.com/in/rajshree-khadgi-aa658a213/" target="_blank"
                                rel="tooltip" title="Follow me on Linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                              </a>
                              <a class="btn btn-default btn-round btn-lg btn-icon"
                                href="https://github.com/Rajshreekhadgi123" target="_blank" rel="tooltip"
                                title="Follow me on Github">
                                <i class="fa-brands fa-github"></i>
                              </a>
                              <a class="btn btn-default btn-round btn-lg btn-icon"
                                href="https://www.instagram.com/_rajshree_khadgi10/" target="_blank" rel="tooltip"
                                title="Follow me on Github">
                                <i class="fa-brands fa-instagram"></i>
                              </a>
                              <a class="btn btn-default btn-round btn-lg btn-icon"
                                href="https://www.instagram.com/_rajshree_khadgi10/" target="_blank" rel="tooltip"
                                title="Follow me on Github">
                                <i class="fa-brands fa-twitter"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
