<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-2 title">About</div>
            <div>
              <ul>
                <li>Front End Developer with 10 Months of experience.</li>
                <li>Worked with Software Development Life Cycle(SDLC) and agile methodologies.</li>
                <li>Having an Experience on working with Angular 15 , Typescript and UI with Responsive Designs</li>
                <li>Have good understanding of HTML , CSS , Bootstrap, Javascript and Typescript</li>
              </ul>
            </div>
            <p>To obtain a challenging position as a Front End Web Developer where I can use my extensive experience in
              developing interactive user interfaces for websites..</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-2 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">December 10, 2001</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">rajshreekhadgi123@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+91 7058630781</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">Hanuman Society , Mehendibagh Corner , Vaishali Nagar , Nagpur 440017.
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Hindi , English , Marathi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
