.row p{
    font-weight: 700px;
    color:black;
    
}
.section{
    padding-top: 100px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-body ul{
    padding-left: 20px;
}

li{
    padding-top: 5px;
    
}
.title {
    font-weight: 700;
}
strong{
    font-size: 0.9rem;
}
.section .card li , p{
    font-size: 0.9rem;
}
.section .card .title{
    padding-bottom: 20px;
}