<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 block bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020 - 2022</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9 right" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Science</div>
            <h4 class="category">GH Raisoni University
            </h4>
            <ul>
              <li>GH Raisoni University is GTU Affiliated and <b>ranks 3rd</b> in Nagpur </li>
              <li>Completed Bsc in Information Technology with <b>9.20 CGPA</b>.</li>
              <li>Won the <b>Gold Medal</b> for achieving first rank at College.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 block bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2018 - 2020</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9 right" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <h4 class="category">VMV College of Arts, Commerce and Science.
            </h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science, mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and chemistry.
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 block bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2018</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div class="col-md-9 right" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">CB Adarsh Vidya Mandir High School
            </h4>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>

              <li>
                Completed my Secondary school with <b>85%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
