

<div class="back-image">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fff" fill-opacity="1"
      d="M0,160L48,154.7C96,149,192,139,288,165.3C384,192,480,256,576,250.7C672,245,768,171,864,160C960,149,1056,203,1152,202.7C1248,203,1344,149,1392,122.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
  <div class="back-text">
    <div class="cc-profile-icon">
      <i class="fa-solid fa-code fa-fade"></i>
      <i class="fa-brands fa-css3 fa-fade"></i>
      <i class="fa-brands fa-square-js fa-fade"></i>
      <i class="fa-brands fa-bootstrap fa-fade"></i>      
      <i class="fa-brands fa-angular fa-fade"></i>
    </div>
    <h1><b>Rajshree Khadgi</b> </h1>
    <p>Angular Developer</p>
    <a href="#contact"><button>Hire Me</button></a>
    <a href="../../../assets/Rajshre Khadgi - Resume.pdf"><button>Download CV</button></a>
  </div>

  <div class="section">
    <div class="container">
      <div class="button-container">
        <a class="btn btn-default btn-round btn-lg btn-icon"
          href="https://www.linkedin.com/in/rajshree-khadgi-aa658a213/" target="_blank" rel="tooltip"
          title="Follow me on Linkedin">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Rajshreekhadgi123" target="_blank"
          rel="tooltip" title="Follow me on Github">
          <i class="fa fa-github"></i>
        </a>
        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/_rajshree_khadgi10/"
          target="_blank" rel="tooltip" title="Follow me on Github">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>



